body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  color: #000000;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.brand-name-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-left,
.menu-right {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
}

.menu-item span {
  margin-right: 0px;
}

.brand-name {
  font-size: 25px;
  font-weight: bold;
}

.tamanho {
  width: 20px;
  padding: 10px;
}

.brand-name-highlight {
  padding: 10px;
  border-radius: 10px;
}

.brand-name-highlight a {
  text-decoration: none;
  color: #111;
}

.brand-name-highlight a span {
  font-family: Futura;
}

hr {
  opacity: 0.5;
  border: none;
  height: 1px;
  background-color: #938d8d;
}

h1 {
  font-family: Futura;
  size: 30px;
  padding: 0%;
  margin: 0%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #f0f0ff;
}

.estilizacao {
  border: 1px solid #ccc;
  text-align: center;
  margin: 20px;
}

.estilizacao h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.estilizacao h3 {
  font-size: 16px;
  margin-top: 5px;
  color: #443e3e;
}

.estilizacao p {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;;
}

.estilizacao img {
  padding-top: 15px;
  max-width: 80%;
  width: auto;
  height: 45%;
  border-radius: 4px;
}

.estilizacao a {
  display: inline-block;
  margin-top: 10px;
  background-color: #373a3dd2;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.estilizacao a:hover {
  transform: scale(1.1);
}

h5 {
  padding-left: 20px;
}

.menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 25%;
  border: 1px solid #111;
  transition: background-color 0.3s ease-out;
}

.posicao {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  border: #ffffff solid 1px;
}

h4 {
  font-size: 13px;
  text-decoration: none;
}

.borda {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 25%;
  border: 1px solid #111;
  transition: transform 0.3s ease;
}

.borda:hover {
  transform: scale(1.1);
  background-color: #F5F5F5;
}

#rodape1 {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 120px;
  font-size: 15px;
  text-decoration: none;
  color: #111;
}

.espacamentomaior {
  margin-top: 30px;
}

.tracejado-link {
  padding: 0px;
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #111;
  border-bottom: 1px #111;
}

.tracejado-link:hover {
  border-bottom: 1px solid #333;
}

.rodape2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 100px 40px 100px;
  gap: 50px;
}

.rodape2estilizacao {
  font-family: "Louis Vuitton Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #19110b;
  font-size: small;
}

.rodape2estilizacao span {
  text-decoration: underline;
}

.diminuirpalavras {
  padding-bottom: 20px;
  font-size: small;
}

.tituloradape {
  font-size: smaller;
  color:rgb(74, 31, 31);
  padding-bottom: 20px;
}

.rodapepalavras {
  text-decoration: none;
  color: black;
}

.rodape3 img {
  width: 24.5px;
  padding-right: 5px;
  vertical-align: middle;
}

.rodape3 p {
  margin-left: 120px;
  margin-right: 120px;
  font-size: 12px;
}

.cantos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cantos span {
  text-decoration: underline solid #111;
}

.cantobaixo {
  display: flex;
  justify-content: flex-end;
  color: grey;
  font-size: 12px; /* Ajuste o tamanho da fonte aqui */
}

.cantobaixo p {
  font-size: smaller;
}

.rodape3 a {
  text-decoration: none;
  color: #111;
}

.rodape3 h1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 28px;
}

#espacamentorodape3 {
  margin-left: 120px;
}

#espacamentomelhor {
  padding-right: 30px;
}

